@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Syne:wght@400..800&display=swap');

.mic-imgc{
  background-image: url(../../public/Assets/eventbg_zip57y.png);
  height: 110vh;
  background-size: cover;
 background-position: top;
 display: flex;
 justify-content: space-between;
 align-items: center;
 align-content: center;
 width: 100vw;
}
/* .micimg{
  
    width: 98vw;
    overflow-x: hidden;
} */
.overlay-text{
    font-family: "Roboto Slab", serif;
    position: relative;
    top: 45%;
    left: 25%;
    color: white;
    font-weight: 600;
    font-size: 9rem;
    opacity: 0;
    position: relative;
top: 20%;
    width: fit-content;
    transform: translateY(5rem);
    animation : fadeslidein 1.7s ease forwards;
}
@keyframes fadeslidein{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.event-container{
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

@media (max-width:700px){
  .mic-imgc{
    width: 98vw;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
  }  
  .micimg{
    width: 98vw;
  }
.overlay-text{
  justify-self: start;
  font-size: 6rem;
  align-self: center;
position: relative;
top: 30%;
left: 2%;
 
}

}
