.bottom{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    color: #d8d8df;
    width: 100vw;
   
}
.icons{
    display: flex;
    align-items: center;
    font-size: 2rem;
    display: flex;
    gap: 0.6rem;
}
.copyright{
    display: flex;
    align-items: center;
}
.address{
    display:flex;
    
}
.address .des{
    display: flex;
    align-items: center;
    width: 24vw;
   
}
@media (max-width:700px) {
    .bottom{
        display: flex;
        flex-direction: column;
justify-content: center;
align-items: center;
    }
}
